---
# Source: https://github.com/pharmaverse/admiralci
# Common workflows designed for Admiral
# but can be easily used by any other R package
name: admiral CI/CD Workflows

on:
  # 'workflow_dispatch' gives you the ability
  # to run this workflow on demand, anytime
  workflow_dispatch:
  # 'push' events are triggered when commits
  # are pushed to one of these branches
  push:
    tags:
      - "v*"
    branches:
      - main
      - patch
  # 'pull_request' events are triggered when PRs are
  # created against one of these target branches.
  pull_request:
    branches:
      - main
      - patch
  # 'release' events are triggered when...
  # you guessed it - when releases are made.
  release:
    types: [published]

# Docs on concurrency:
# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: admiral-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  R_VERSION: "4.1"

jobs:
  get_r_version:
    name: Get R version
    runs-on: ubuntu-latest
    outputs:
      r-version: ${{ steps.get_r_version.outputs.R_VERSION }}
    steps:
      - name: Get R Version for Downstream Container Jobs
        id: get_r_version
        run: echo "R_VERSION=$R_VERSION" >> $GITHUB_OUTPUT
        shell: bash
  style:
    name: Code Style
    uses: pharmaverse/admiralci/.github/workflows/style.yml@no-get-r-version-job
    if: github.event_name == 'pull_request'
    needs: get_r_version
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
  spellcheck:
    name: Spelling
    uses: pharmaverse/admiralci/.github/workflows/spellcheck.yml@no-get-r-version-job
    if: github.event_name == 'pull_request'
    needs: get_r_version
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
  readme:
    name: Render README
    uses: pharmaverse/admiralci/.github/workflows/readme-render.yml@no-get-r-version-job
    if: github.event_name == 'push'
    needs: get_r_version
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
  validation:
    name: Validation
    uses: pharmaverse/admiralci/.github/workflows/r-pkg-validation.yml@no-get-r-version-job
    if: github.event_name == 'release'
    needs: get_r_version
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
  check:
    name: Check
    uses: pharmaverse/admiralci/.github/workflows/r-cmd-check.yml@no-get-r-version-job
    with:
      error-on: warning # TODO: find a way to ignore specific notes
    if: github.event_name == 'pull_request'
  docs:
    name: Documentation
    uses: pharmaverse/admiralci/.github/workflows/pkgdown.yml@no-get-r-version-job
    if: github.event_name == 'push' || startsWith(github.ref, 'refs/tags/v')
    needs: get_r_version
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
      # Whether to skip multiversion docs
      # Note that if you have multiple versions of docs,
      # your URL links are likely to break due to path changes
      skip-multiversion-docs: false
      latest-tag-alt-name: cran-release
      multiversion-docs-landing-page: cran-release
      branches-or-tags-to-list: >-
        ^cran-release$|^v([0-9]+\\.)?([0-9]+\\.)?([0-9]+)$
  linter:
    name: Lint
    uses: pharmaverse/admiralci/.github/workflows/lintr.yml@no-get-r-version-job
    needs: get_r_version
    if: github.event_name == 'pull_request'
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
  links:
    name: Links
    uses: pharmaverse/admiralci/.github/workflows/links.yml@no-get-r-version-job
    if: github.event_name == 'pull_request'
  coverage:
    name: Code Coverage
    uses: pharmaverse/admiralci/.github/workflows/code-coverage.yml@no-get-r-version-job
    if: >
      github.event_name != 'release'
    needs: get_r_version
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
      # Whether to skip code coverage badge creation
      # Setting to 'false' will require you to create
      # an orphan branch called 'badges' in your repository
      skip-coverage-badges: false
  man-pages:
    name: Man Pages
    uses: pharmaverse/admiralci/.github/workflows/man-pages.yml@no-get-r-version-job
    if: github.event_name == 'pull_request'
    needs: get_r_version
    with:
      r-version: "${{ needs.get_r_version.outputs.r-version }}"
